<h1 class="page-title">The souvenirs of <%= @user.username %></h1>

<ul class="my-souvenirs">
  <% @souvenirs.each do |souvenir| %>
    <div class="my-souvenir">
      <p><strong>Name: </strong><%= souvenir.name %></p>
      <p><strong>Source: </strong><em><%= souvenir.source %>, <%= souvenir.year_obtained %></em></p>
      <p><strong>Description: </strong><%= souvenir.description %></p>
      <p><a href="/souvenirs/<%= souvenir.id %>">Make changes to your souvenir</a></p>
    </div>
    <p></p>
  <% end %>
</ul>

<br></br>

<div class="nav">
  <a class="page-link" href="/souvenirs/new">Add a new souvenir!</a>

  <p><a class="page-link" href="/souvenirs">Back to ALL Souvenirs</a></p>

  <p><a class="page-link" href="/logout">Log Out</a></p>
</div>
