<h1 class="page-title">Check out all the souvenirs!</h1>

<div class="nav">
  <p><a class="page-link" href="/my_souvenirs">Check out MY souvenirs</a></p>
</div>
<div>
  <% @souvenirs.each do |souvenir| %>
    <ul class="souvenir-container">
      <p>Souvenir ID: <%= souvenir.id %></p>
      <li><a href="/souvenirs/<%= souvenir.id %>"><%= souvenir.name %></a></li>
      <li><strong>Source: </strong><em><%= souvenir.source %>, <%= souvenir.year_obtained %></em></li>
      <li><strong>Description: </strong><%= souvenir.description %></li>

      <% @users.each do |user| %>

        <% if user.id == souvenir[:user_id] %>
          <li><em>Owned By: </em><%= user.username %></li>
        <% end %>
      <% end %>
    </ul>
    <p></p>
  <% end %>
</div>

<div class="nav">
  <p><a class="page-link" href="/logout">Log Out</a></p>

  <p><a class="page-link" href="/my_souvenirs">Check out MY souvenirs</a></p>
</div>
