<h1>Welcome, <%= @user.username %>!</h1>

<p>I've been keeping track of your cool stuff.  I promise I didn't touch it!</p>

<p>Here it is...</p>

<ul>
  <% @souvenirs.each do |souvenir| %>
    <li><strong>Name: </strong><%= souvenir.name %></li>
    <li><strong>Source: </strong><em><%= souvenir.source %>, <%= souvenir.year_obtained %></em></li>
    <li><strong>Description: </strong><%= souvenir.description %></li>
  <% end %>
</ul>

<p><a href="/logout">Log Out</a></p>

<a href="/souvenirs/new">Add a new souvenir!</a>
