<h1 class="page-title">Check out this cool souvenir!</h1>

<div id="edit-form">
  <div class="featured-edit">
    <h3>Name:</h3>
    <p><%= @souvenir.name %></p>

    <h3>Source:</h3>
    <p><%= @souvenir.source %></p>

    <h3>Obtained:</h3>
    <p><%= @souvenir.year_obtained %></p>

    <h3>Description:</h3>
    <p><%= @souvenir.description %></p>

    <h3>Owner:</h3>
    <p><%= @owner.username %></p>
  </div>



  <% if Helpers.current_user(session).id == @souvenir.user_id %>
    <div class="featured-edit">
      <p>If something's not right, change any of the fields below!</p>

      <form method="post" action="">
        <input type="hidden" id="hidden" name="_method" value="patch" />

        <h3><label for="name">Name:</label></h3>
        <input id="name" name="name" type="text" value="<%= @souvenir.name %>" />

        <h3><label for="source">Source:</label></h3>
        <input id="source" name="source" type="text" value="<%= @souvenir.source %>" />

        <h3><label for="year_obtained">Year Obtained:</label></h3>
        <input id="year_obtained" name="year_obtained" type="text" value="<%= @souvenir.year_obtained %>" />

        <h3><label for="description">Description:</label></h3>
        <textarea rows="10" columns="50" name="description" id="description"><%= @souvenir.description %></textarea>
        <input id="description" name="description" type="text" value="<%= @souvenir.description %>" />

        <br></br>
        <div class="edit-delete-button">
          <input type="submit" value="Save" />
        </div>
      </form>
    </div>

    <form method="post" action="/souvenirs/<%= @souvenir.id %>">
      <input type="hidden" id="hidden" name="_method" value="delete" />
      <div class="edit-delete-button">
        <input class="edit-delete-button" type="submit" value="Delete" />
      </div>
    </form>

  <% end %>
</div>      <!-- Close Edit container  -->

<div class="nav">
  <p class="page-link"><a href="/my_souvenirs">Check out MY souvenirs</a></p>

  <a class="page-link" href="/souvenirs">Back to ALL Souvenirs</a>

  <p><a class="page-link" href="/logout">Log Out</a></p>
</div>
