<h1 class="page-title">Check out all the recent souvenirs!</h1>
<div class="nav">
  <p class="page-link"><a href="/my_souvenirs">Check out MY souvenirs</a></p>
</div>
<div>
  <% @souvenirs.each do |souvenir| %>
    <ul class="souvenir-container">
      <p>Souvenir ID: <%= souvenir.id %></p>
      <li><a href="/souvenirs/<%= souvenir.id %>"><%= souvenir.name %></a></li>
      <li><strong>Source: </strong><em><%= souvenir.source %>, <%= souvenir.year_obtained %></em></li>
      <li><strong>Description: </strong><%= souvenir.description %></li>
    </ul>
    <p></p>
  <% end %>
</div>

<div class="nav">
  <p class="page-link"><a href="/logout">Log Out</a></p>

  <p class="page-link"><a href="/my_souvenirs">Check out MY souvenirs</a></p>
</div>
