<h1>Check out all the recent souvenirs!</h1>

<ul>
  <% @souvenirs.each do |souvenir| %>
    <li><a href="/souvenirs/<%= souvenir.id %>"><strong>Name: </strong><%= souvenir.name %></a></li>
    <li><strong>Source: </strong><em><%= souvenir.source %>, <%= souvenir.year_obtained %></em></li>
    <li><strong>Description: </strong><%= souvenir.description %></li>
  <% end %>
</ul>

<p><a href="/logout">Log Out</a></p>

<p><a href="/my_souvenirs">Check out my souvenirs!</a></p>
