<h1>Check out all the recent souvenirs!</h1>

<ul>
  <% @souvenirs.each do |souvenir| %>
    <p>Souvenir ID: <%= souvenir.id %></p>
    <li><a href="/souvenirs/<%= souvenir.id %>"><%= souvenir.name %></a></li>
    <li><strong>Source: </strong><em><%= souvenir.source %>, <%= souvenir.year_obtained %></em></li>
    <li><strong>Description: </strong><%= souvenir.description %></li>
    <p></p>
  <% end %>
</ul>

<p><a href="/logout">Log Out</a></p>

<p><a href="/my_souvenirs">Check out MY souvenirs!</a></p>
